.drone label {
    font-weight: bold;
}

.drone-setup {
    margin-top: 5px;
}

.drone-setup > div {
    margin: 5px 0 0 0;
}

.drone-setup select {
    font-size: 1rem;
}

.drone-labels {
    font-size: 0.85rem;
    margin-bottom: 3px;
    color: #555;
}