
html {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
    /*background-color: #eeeef2;*/
}

.warning-alpha {
    padding: 5px 10px;
    background-color: #ff7621;
    color: #000;
}

h2 {
    margin: 10px 0 5px 0;
}
h3 {
    font-size: 1rem;
    margin: 5px 0;
}

.app {
    /*margin: 10px;*/
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: baseline;
    /*margin: 0 0 20px 0;*/
    /*border-bottom: 1px solid #ccd;*/
    background-color: #fff;
    padding: 10px 0;
}

.header a {
    text-decoration: none;
}

.panic {
    margin-left: 20px!important;
}

.panic button {
    /*background-color: #ffc688;*/
    margin-right: 20px!important;
}

.playing {
    background-color: #ffc688;
}

.border-bottom {
    /*padding: 10px;*/
    border-bottom: 1px solid #ccd;
}

.config {
    display: flex;
}

.config label {
    font-weight: bold;
}

.config > div {
    margin-right: 15px;
}

.config > div:last-child {
    margin-right: 0;
}

.options {
    display: flex;
    justify-content: space-between;
}

.help p {
    margin: 0;
    line-height: 150%;
}

.custom-range {
    width: 50px;
}

.play-button {
    margin-top: 5px;
    height: 30px;
}

.help {
    /*border-top: 1px solid #aaa;*/
    color: #333;
    margin-top: 20px;
    font-size: 0.75rem;
}

.pointer {
    cursor: pointer;
}

ol {
    margin: 0 0 10px 0;
    padding: 0 20px;
}

ul {
    margin: 0 0 10px 0;
    padding: 0 20px;
}

li {
    margin: 5px 0;
}

.italic {
    font-style: italic;
}

.trackpad {
    width: 400px;
}

.header > div {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.header select {
    margin: 0 5px 0 5px;
}

.header select:first-child {
    margin-left: 0;
}

.header > div:first-child {
    margin-left: 0;
}

.footer {
    margin: 30px 0 0 0;
    padding: 5px 0 20px 0;
    border-top: 1px solid #bbb;
    font-size: 0.75rem;
    color: #777;
}

.about {
    flex-grow: 1;
    justify-content: flex-end;
}

.bt-hide {
    font-size: 0.85rem;
}

.grow-right {
    flex-grow: 1;
    text-align: right;
}

.content {
    padding: 0 20px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row > div {
    margin-left: 20px;
}

.row > div:first-child {
    margin-left: 0;
}

.row-center {
    align-items: center;
}

.col {
    flex-direction: column;
}

.col-rev {
    flex-direction: column-reverse;
}

.warning {
    color: red;
}

.space-right {
    margin-right: 5px;
}

.space-right-l {
    margin-right: 10px;
}

.space-right-xl {
    margin-right: 15px;
}

.shadow {
    box-shadow: 3px 3px 5px #ddd;
}

.bg-white {
    background-color: white;
}

.button-small {
    padding: 0 8px;
}

.sm {
    font-size: small;
}

.f {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fg {
    flex-grow: 1;
}

.ar {
    text-align: right;
    justify-items: right;
    justify-content: flex-end;
}

.fend {
    justify-content: flex-end;
}

.bold {
    font-weight: bold;
}

.h15rem {
    height: 1.5rem;
}

.pb5 {
    padding-bottom: 5px;
}

.float-right {
    float: right;
}
